<footer class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center my-3">
                &copy; 2018
            </div>
            <div class="col-4">
                <ul class="list-unstyled">
                    <li><a href="" class="text-dark">Lorem.</a></li>
                    <li><a href="" class="text-dark">Et.</a></li>
                    <li><a href="" class="text-dark">Consectetur.</a></li>
                    <li><a href="" class="text-dark">Dolores!</a></li>
                    <li><a href="" class="text-dark">Aliquam.</a></li>
                    <li><a href="" class="text-dark">Fugiat.</a></li>
                </ul>
            </div>

            <div class="col-4">
                <ul class="list-unstyled">
                    <li><a href="" class="text-dark">Lorem.</a></li>
                    <li><a href="" class="text-dark">Et.</a></li>
                    <li><a href="" class="text-dark">Consectetur.</a></li>
                    <li><a href="" class="text-dark">Dolores!</a></li>
                    <li><a href="" class="text-dark">Aliquam.</a></li>
                    <li><a href="" class="text-dark">Fugiat.</a></li>
                </ul>
            </div>

            <div class="col-4">
                <ul class="list-unstyled">
                    <li><a href="" class="text-dark">Lorem.</a></li>
                    <li><a href="" class="text-dark">Et.</a></li>
                    <li><a href="" class="text-dark">Consectetur.</a></li>
                    <li><a href="" class="text-dark">Dolores!</a></li>
                    <li><a href="" class="text-dark">Aliquam.</a></li>
                    <li><a href="" class="text-dark">Fugiat.</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>